body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E9A6A6;

}


h1 {
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #533535;
  line-height: 2;

}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #533535;
  padding: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #AE4CCF;
}
p {
  line-height: 2;
}
hr {
  border: dotted #F7DBF0 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
a{
  color: #AE4CCF;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #F7DBF0;
}
.top-container{
  background-color: #FFADAD;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

}
.middle-container{
  background-color: #E9A6A6;
  margin: 100px 0;
}
.bottom-container{
background-color: #FFADAD;
padding: 50px 0 20px;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;

}
.intro {
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
  color: #F7DBF0;
  font-size: 0.7rem;
  padding: 20px 0;

}
.top-cloud{
  position: absolute;
  right: 220px;
  top: 130px;

}

.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.hairdressing-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.photography-img{
  width: 25%;
  float:right;
  margin-left: 30px;
}
.btn{
	box-shadow: 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:8px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 42px #ae4cff;
}
.btn:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.btn:active {
	position:relative;
	top:1px;
}
